table {
    border-collapse: collapse;
    margin-bottom: 2em;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

ul {
    list-style: none;
}

li {
    margin-left: 0;
}

span {
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
}
