table {
    border-collapse: collapse;
    margin-bottom: 2em;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

ul {
    list-style: none;
}

span {
    font-weight: bold;
    vertical-align: middle;
    font-size: 2em;
}
